// Flow Academy Stylesheets

// .courses {
//     .fa {
//         width: 24px;
//     }
// }
.courses {
  &__icon { // Compiles to .courses__icon
    width: 24px;
  }
}
.o_state_individual .o_company_field {
    display: none !important;
}

/* Hide individual fields when in company mode */
.o_state_company .o_individual_field {
    display: none !important;
}

.o_wsale_my_cart  {
    display: none !important;
}
